body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Rectangle 208 */

// position: absolute;
// width: 1368.02px;
// height: 458.38px;
// left: 0.98px;
// top: -1px;

// background: linear-gradient(205.22deg, #FFA15C -2.89%, rgba(255, 91, 146, 0.95) 59.15%, #771CFE 125.51%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
